.wrapper1 {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  color: white;
}

.wrapper1>* {
  padding: 10px;
  flex: 1 100%;
}

.header-1 {
  background: red;
}

.footer {
  background: rgb(189, 101, 189);
}

.main {
  text-align: left;
  background: deepskyblue;
  height: 50vh;
  flex: 3 0px;
  text-transform: uppercase;
}

.aside-1 {
  background: green;
}

.aside-2 {
  background: pink;
}

.aside {
  flex: 1 auto;
}

.aside-1 {
  order: 1;
}

.main {
  order: 2;
}

.aside-2 {
  order: 3;
}

.footer {
  order: 4;
}

@media screen and (max-width: 992px) {
  .wrapper1 {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .wrapper1 {
    width: 50%;
    display: inline-block;

  }
}

@media screen and (max-width: 480px) {
  .wrapper1 {
    width: 50%;
  }
}